<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>about</title>
    <style>
    </style>
    </head>
    <body>
        <divd>
            <h1>The o-factor (open science factor)</h1>

            <div>
                <h2>What is the o-factor?</h2>
                <p>o-factor stands for open science factor. It is a project started in Neurohackademy in August 2018. The goal is to give journals (and leter on also papers / scientists and more) a score of how "open science" they are. We want to find a way to promote open science and give incentives for scientists and journals to do and support more open science.</p>
            </div>

            <div>
                <h2>What does this project include?</h2>
                <ul>
                    <li>Scraper (we are planning to start with a simple API to get preliminary data, and then try to add more data from other APIs.</li>
                    <li>Creating a table with the relevant "features" for each paper (data shared / not; code shared / not; pre-registration / not; etc.)</li>
                    <li>Pulling metadata of the journals such as open access, field, policies etc.</li>
                    <li> Compute a o-factor formula</li>
                    <li>A web-app</li>
                </ul>
            </div>
            
            <div>
                <h3>Contributers (ABC order):</h3>
                <ul>
                    <li>Daniel Reznik</li>
                    <li>Emily Wood</li>
                    <li>Federico Adolfi</li>
                    <li>Kristina Rapuano</li>
                    <li>Mikella Green</li>
                    <li>Rosa Li</li>
                    <li>Rotem Botvinik-Nezer</li>
                    <li>Scott Cole</li>
                </ul>
            </div>
            
            <div>
                <h3>Acknowledgements</h3>
                <p>We built on a few previous projects:
                    <ol>
                        <li>Scott Cole's codesharing mini-project: <a href="https://github.com/srcole/codesharing">https://github.com/srcole/codesharing</a></li>
                        <li>The Code and Data Citation Counter: doi 10.5281/zenodo.1209095 link: <a href="https://github.com/softwaresaved/code-cite">https://github.com/softwaresaved/code-cite</a></li>
                </ol> 
                </p>
            </div>

        </divd>
    </body>
</html>

