<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>O-factor</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

  <script type="text/javascript" src="../static/lib/js/d3.js"></script>
  <script type="text/javascript" src="../static/lib/js/crossfilter.js"></script>
  <script type="text/javascript" src="../static/lib/js/dc.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/lib/js/bootstrap.js"></script>



  <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="../static/lib/css/dc.css">
  <link href="../static/lib/css/bootstrap.css" rel="stylesheet" type="text/css"/>




  <!-- Dashboard -->

</head>
<body class="keen-dashboard" style="padding-top: 80px;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand" href="../">O-Factor &raquo; Data Explorer</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/about">About O-Factor</a></li>
        <li><a href="https://github.com/srcole/o-factor">Data</a></li>
        <li><a href="https://github.com/mikellagreen/o-factor_webapp">Source</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Total Articles Scraped By Journal
        </div>
        <div class="chart-stage">
          <div id="dc-code-chart"></div>
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Total Articles Scraped 
        </div>
        <div class="chart-stage">
            <div id="total-scraped"></div>
        </div>
        <div class="chart-notes">
            Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Code Shared Articles 
          </div>
          <div class="chart-stage">
              <div id="total-codeshared"></div>
          </div>
          <div class="chart-notes">
              Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Total Data Shared Articles
            </div>
            <div class="chart-stage">
                <div id="total-datashared"></div>
            </div>
            <div class="chart-notes">
                Notes about this chart
            </div>
          </div>
        </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Ratio of Open Source By Journal over Time
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100%x120/white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100%x120/white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100%x120/white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100%x120/white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">
          <img data-src="holder.js/100%x120/white">
        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Cell Title
        </div>
        <div class="chart-stage">

        </div>
        <div class="chart-notes">
          Notes about this chart
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>
</div>

<script type="text/javascript">


d3.csv("../static/lib/js/groupedData2.csv", function(data) {

  var numScrapedByJournalChart = dc.rowChart("#dc-code-chart");
  var scraped = dc.numberDisplay("#total-scraped");
  var total_ds = dc.numberDisplay("#total-datashared");
  var total_cs = dc.numberDisplay("#total-codeshared");
 

  var stats = crossfilter(data);
  var journalVal = stats.dimension(function (d) { return d.journal; });
  var yearVal = stats.dimension(function (d) { return +d.year; });
  var dataSharedVal = stats.dimension(function (d) { return +d.data_shared; });
  var codeRelVal = stats.dimension(function (d) { return +d.code_relevant; });
  var preprintVal = stats.dimension(function (d) { return +d.preprint; });
  var dataURVal = stats.dimension(function (d) { return +d.data_upon_request; });
  var codeSharedVal = stats.dimension(function (d) { return +d.code_shared; });
  var codeURVal = stats.dimension(function (d) { return +d.code_upon_request; });
  var preregVal = stats.dimension(function (d) { return +d.preregistration; });
  var osfVal = stats.dimension(function (d) { return +d.osf_exploratory; });
  var numArtVal = stats.dimension(function (d) { return +d.articles; });
  var rDataSharedVal = stats.dimension(function (d) { return +d.rDataShared; });
  var rPreprintVal = stats.dimension(function (d) { return +d.rPreprint; });
  var rDataRequestVal = stats.dimension(function (d) { return +d.rDataRequest; });
  var rCodeSharedVal = stats.dimension(function (d) { return +d.rCodeShared; });
  var rCodeRequestVal = stats.dimension(function (d) { return +d.rCodeRequest; });
  var rPreRegVal = stats.dimension(function (d) { return +d.rPreReg; });
  var rOSFVal = stats.dimension(function (d) { return +d.rOSF; });

  var yearDataShared = stats.dimension(function (d) { return [+d.year, +d.rDataShared]; });
  var ydsgroup = yearDataShared.group(function (d) { return d.journal; });
  var yearCodeShared = stats.dimension(function (d) { return [+d.year, +d.rCodeShared]; });
  var ycsgroup = yearCodeShared.group(function(d) { return d.journal; });
 
  
  var totalNumScraped = stats.groupAll().reduceSum(function(d) { return +d.articles; });
  var totalds = stats.groupAll().reduceSum(function(d) { return +d.data_shared; });
  var totalcs = stats.groupAll().reduceSum(function(d) { return +d.code_shared; });
  var numArtbyJournalbyYear = yearVal.group().reduce(function(stats) { return stats.journal; });
  var numArtByJournal = journalVal.group().reduceSum(function(d) { return +d.articles; });

  scraped 
    .formatNumber(d3.format("d"))
    .valueAccessor(function(d){ return d; })
    .group(totalNumScraped);

  total_ds
    .formatNumber(d3.format("d"))
    .valueAccessor(function(d){ return d; })
    .group(totalds);

  total_cs
    .formatNumber(d3.format("d"))
    .valueAccessor(function(d){ return d; })
    .group(totalcs);

  numScrapedByJournalChart
    .width(800)
    .height(500)
    .margins({top: 10, right: 50, bottom: 30, left: 50})
    .dimension(journalVal)
    .group(numArtByJournal)
    .elasticX(true)
    .ordinalColors(["rgb(72,191,142)", "rgb(64,104,52)", "rgb(129,139,215)", "rgb(173,88,162)", "rgb(174,31,209)", "rgb(226,113,46)", "rgb(174,135,136)", "rgb(97,61,56)", "rgb(186,218,221)", "rgb(173,213,31)", "rgb(83,242,89)", "rgb(214,6,26)", "rgb(247,209,83)", "rgb(71,154,188)", "rgb(105,97,249)", "rgb(233,201,250)", "rgb(227,2,147)", "rgb(16,85,138)", "rgb(184,136,53)", "rgb(245,151,250)"]);



  
  dc.renderAll();
});
</script>
</body>
</html>
